.main{
	display: flex;
	border: 2px solid #000;
	margin: 2px;
	flex-wrap:wrap;
}
.left{
	flex: 1;
	background-color: pink;
	}
.right{
	flex: 3;
	background-color: pink;
	
}
#b{
	color:green;
	font-size: 20px;
	font-style: bold;
}
#d{
	color:green;
	font-size: 20px;
	font-style: bold;
}
#r{
	color:green;
	font-size: 20px;
	font-style: bold;
}
.first{
	display: flex;
	flex-wrap:wrap;
}
img{
	width: 200px;
}
table,td,tr{
	border: 2px solid #000;
	border-collapse: collapse;
}	
@media only screen and (min-width:320px) and (max-width:480px){
	.main{
	display: flex;
	border: 2px solid #000;
	margin: 2px;
	flex-wrap:wrap;
}

	.first{
	display: flex;
	flex-wrap:wrap;
	flex-direction: column; 
	} 
	.left{
	background-color: lightgreen;
}
	.right{
	background-color:pink;
}
}
@media only screen and (min-width:481px) and (max-width:768px){
.main{
	display: flex;
	border: 2px solid #000;
	margin: 2px;
	flex-wrap:wrap;
	flex-direction: column; 

}

	.first{
	display: flex;
	flex-wrap:wrap;
	flex-direction: column; 
}
	.left{
	background-color: pink;	
}

	.right{
	background-color:lightgreen;
}
}
